<!--<%= @board.errors.messages unless @board.errors.empty? %>-->
<%= form_for @board do |f| %>
<% if @board.errors.any? %>
	<h2> Errors : </h2>
	<ul>
		<% @board.errors.full_messages.each do |message| %>
		<li><%= message %> </li>
		<% end %>
	</ul>
	<% end %>
<%= f.text_field :name %>
<%= f.submit "Submit" %>
<% end %>

<table>
<tr>
	<td>I.D</td>
	<td>Board Name</td>
		<td>Join</td>
		</tr>
		<% @boards.each do |p| %>
		<tr>
			<td><%= p.id %></td>
			<td><%= p.name %></td>
		<td><%= link_to "Join table",p %></td>
	</tr>
	<%end%>
</table>
