<!--<%= @board.errors.messages unless @board.errors.empty? %>-->
<%= form_for @board do |f| %>
<% if @board.errors.any? %>
	<h2> Errors : </h2>
	<ul>
		<% @board.errors.full_messages.each do |message| %>
		<li><%= message %> </li>
		<% end %>
	</ul>
	<% end %>
<%= f.text_field :name %>
<%= f.submit "Submit"  %>
<% end %>

<table class="table">
<tr>
	<td class="indextd">I.D</td>
	<td class="indextd">Board Name</td>
		<td class="indextd">Join</td>
		</tr>
		<% @boards.each do |p| %>
		<tr>
			<td class="indextd"><%= p.id %></td>
			<td class="indextd"><%= p.name %></td>
		<td class="indextd"><%= link_to "Join table",p %></td>
	</tr>
	<%end%>
</table>
