<div>
<p id="display2">You are Player : <%= cookies[@board.id] %> </p>
<p id="display">Board Id : <%= @board.id %></p>
<p id="display3">Board Name : <%= @board.name %></p>
<div> <% if @board.current_player == 1 %>
	<p id="display1" style ="color:green">Player To Roll Die : 1 </p>
	<% else %>
	<p id="display1" style ="color:red">Player To Roll Die : 2 </p>
	<% end %>
</div>
	
<p id="display4">Waiting for Player : <%= @board.current_player %> </p> 
<table class="joshi">
<span class="jo"><img class="image1" src="/jo1.gif"/></span>
<span class="jo"><img class="image2" src="/jo.png"/></span>
<img id="three" src="/snake1.png"/>
<img id="two" src="/ladder1.png"/>
<img id="one" src="/ladder2.gif"/>
<img id="four" src="/snake2.png"/>
<img id="five" src="/snake3.png"/>
<img id="six" src="/ladder3.png"/>
</table>
<span class="ball"></span>
<span class="player"></span>
</div>
<%= form_for @board do |f| %>
<%= f.text_field :p1_position%>
<%= f.text_field :p2_position%>
<%= f.text_field :current_player %>
<%= f.submit "submit" %>
<% end %>

<script>

var clicks = <%= cookies[@board.id] %>;
var player = <%= @board.current_player %>;
var q=10;
var users = 2;
var ladders = {10:33,16:55,74:96}
var snakes = {98:18,88:51,39:17}
var process=function(c,h,joshi)//0,2,1
{
c=c+h;
if(ladders[c]) {
	alert("You have taken Ladder")
c = ladders[c];
}
if(snakes[c]) {
	alert("You have eaten by Snake")
c = snakes[c];
}
if(c==100){
$('#' + c).append($('.image'+joshi));
alert("Game wins By : player"+joshi );
}
else if(c>100){
c=c-h;
alert("unable to move");
}
else{
$('#' + c).append($('.image'+joshi));
}
return c;
}
var b=0;
var a=0;
var p1_pos = <%= @board.p1_position %>;
var p2_pos = <%= @board.p2_position %>;
$(document).ready(function(){
$('.edit_board').hide();
for(var i = 0; i<10; i++) {
$('.joshi').append('<tr></tr>');
for(var j = 0; j <10; j++) {
if(i%2==0){
$('.joshi').find('tr').eq(i).append('<td id='+((q*10)-(j))+'>'+((q*10)-(j))+'</td>');
}
else{
$('.joshi').find('tr').eq(i).append('<td id='+(((q-1)*10)+(j+1))+'>'+(((q-1)*10)+(j+1))+'</td>');
}
}
q--;
}
a = process(0,p1_pos,1);
b = process(0,p2_pos,2);
$('.ball').click(function(){
//$('.ball').effect( "bounce", {times:3}, 900);
if(player == clicks)
{
var k =  Math.floor(Math.random()*6 + 1);
//var k=2;
$('.ball').text(k);
if(clicks==1){
p1_pos=process(p1_pos,k,clicks);
$('#board_p1_position').val(p1_pos);
$('#board_current_player').val(2);


}
else if(clicks==2)
{

p2_pos=process(p2_pos,k,clicks);
$('#board_p2_position').val(p2_pos);
$('#board_current_player').val(1);
}}

if([4,6].indexOf(k) < 0){
clicks=(clicks < users) ? (clicks+1):1
$('.edit_board').submit();
}
else if(k == 6){
alert("You got 6! its ur turn again")
}
else{
	alert("You got 4! its ur turn again")
}
//$('.player').text("Now Player"+clicks);
});
});


</script>

